{% load static %}

<nav class="navbar navbar-expand-lg line_validador mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'validador' %}"><img src="{% static 'icons/Logo.svg' %}" style="width: 25%;" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse space_header_validador_vendedor" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle colorAzulHeader" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {% if user_name %}
                        {{ user_name }}
                        {% else %}
                        Usuário não autenticado
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item colorAzulHeader" href="{% url 'logout' %}">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>