@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azul: #1331A1;
    --Rosa: #F31366;
    --amarelo: #F8B62F;
    --verde: #A2CA02;
    --Cinza: #F2F2F2;
    --Preto: #0C0C0C;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--Cinza);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.color_azul {
    color: var(--azul);
}

.colorAzulHeader {
    color: var(--azul);
}

.colorAzulHeader:hover {
    color: #0b1c5a;
}

.color_preto {
    color: var(--Preto);
}

.color_rosa {
    color: var(--Rosa);
}

.space_header {
    margin-left: 50rem;
}

.line_admin {
    border-top: 2px solid var(--azul);
}

.btn_verde {
    background-color: var(--verde);
    padding: 4px 8px;
    border-radius: 5px;
}

.btn_verde:hover {
    background-color: transparent;
    border: 2px solid var(--verde);
    box-shadow: 0 4px 4px 0 var(--verde);
}

.btn_rosa {
    border: 2px solid var(--Rosa);
    padding: 4px 8px;
    border-radius: 5px;
}

.btn_rosa:hover {
    background-color: transparent;
    border: 2px solid var(--Rosa);
    box-shadow: 0 4px 4px 0 var(--Rosa);
}

.btn_amarelo {
    border: 2px solid var(--amarelo);
    padding: 4px 8px;
    border-radius: 5px;
}

.btn_amarelo:hover {
    background-color: transparent;
    border: 2px solid var(--amarelo);
    box-shadow: 0 4px 4px 0 var(--amarelo);
}

.btn_azul {
    border: 2px solid var(--azul);
    padding: 4px 8px;
    border-radius: 5px;
}

.btn_azul:hover {
    background-color: transparent;
    border: 2px solid var(--azul);
    box-shadow: 0 4px 4px 0 var(--azul);
}

.camp_senha {
    display: flex;
}

.btn_eye {
    position: absolute;
    left: 78%;
}

.header_card {
    background-color: var(--Preto);
    padding: 10px 5px;
}