{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/deteils_event.css' %}">
{% endblock %}

{% block content %}
{% block header %}
{% include "partials/header/header.html" %}
{% endblock %}

<main class="container">
    {% if messages %}
    <div class="modal fade" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 color_azul" id="messageModalLabel">Aviso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for message in messages %}
                        <li class="list-group-item {{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_amarelo color_preto" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="d-flex gap-3 mb-3">
        <div class="img_evento">
            {% if event.imagem_evento %}
            <img src="{{ event.imagem_evento.url }}" alt="" style="width: 100%;">
            {% else %}
            <img src="{% static 'img/default.webp' %}" alt="img default" style="width: 100%;">
            {% endif %}
        </div>
        <div class="inf_evento">
            <h1 class="h1 color_azul">{{ event.nome_evento }}</h1>
            <div class="d-flex gap-3">
                <span class="bg_amarelo color_azul">{{ event.data_evento|date:"d/m/Y" }}</span>
                <span class="bg_amarelo color_azul">{{ event.horario_evento|time:"H:i" }}</span>
            </div>
            <div class="descricao">
                <p class="color_azul">{{ event.descricao_evento }}</p>
            </div>
            <div class="buttons">
                <a href="{% url 'ticket_generate' event.id_evento %}" class="btn btn_verde color_preto">Ingressos gerados <i class="bi bi-search"></i></a>
                <a href="{% url 'update_event' event.id_evento %}" class="btn btn_azul color_preto">Editar evento <i class="bi bi-soundwave"></i></a>
                <a href="{% url 'lista_setores' event.id_evento %}" class="btn btn_amarelo color_preto">Setores <i class="bi bi-grid-fill"></i></a>
                <a href="{% url 'delete_event' event.id_evento %}" class="btn btn_rosa color_preto">Apagar evento <i class="bi bi-trash"></i></a>
            </div>
        </div>
    </div>

    {% if not client %}
    <h1 class="h1 color_azul">Venda de ingresso</h1>
    <form action="{% url 'deteils_event' event.id_evento %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="search_client" class="form-label color_azul">Pesquisar Cliente</label>
            <input type="text" name="search_client" id="search_client" class="form-control color_azul" placeholder="Coloque o nome do cliente">
        </div>
        <div class="buttons">
            <button type="submit" name="search" class="btn btn_verde color_preto">Pesquisar cliente <i class="bi bi-search"></i></button>
            <a href="{% url 'register_client' event.id_evento %}" class="btn btn_azul color_preto">Cadastrar cliente <i class="bi bi-plus-circle-fill"></i></a>
        </div>
    </form>
        {% if search_client %}
        <h1 class="h1 color_azul">Venda de ingresso</h1>
        <ul class="list-group">
            {% for client in search_client %}
            <li class="list-group-item">
                {{ client.nome_cliente }}
                <form action="{% url 'deteils_event' event.id_evento %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="id_client" value="{{ client.id_cliente }}">
                    <button type="submit" name="select_client" class="btn btn_amarelo color_preto">Selecionar <i class="bi bi-bookmark-check"></i></button>
                </form>
            </li>
            <a href="{% url 'deteils_event' event.id_evento %}" class="btn btn_rosa color_preto w-12 mt-4">Cancelar venda <i class="bi bi-x-square"></i></a>
            {% endfor %}
        </ul>
        {% endif %}
    {% else %}
    <h1 class="h1 color_azul">Venda de ingresso</h1>
    <h4 class="h4 color_azul">Cliente selecionado: {{ client.nome_cliente }}</h4>
    <form action="{% url 'buy_ticket' event.id_evento %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="evento_id" class="form-label color_azul">Escolha o setor para a venda:</label>
            <select name="evento_id" id="evento_id" class="form-select color_azul">
                <option value="" disabled selected>Escolha um setor</option>
                {% if setores %}
                {% for setor in setores %}
                <option value="{{ setor.id_setor }}">{{ setor.nome_setor }} - quantidade de ingresso no setor disponivel ({{ setor.limite_setor }})</option>
                {% endfor %}
                {% else %}
                <option value="" disabled selected>Sem setor cadastrado</option>
                {% endif %}
            </select>
        </div>
        <div class="mb-3">
            <label for="qtd_ingressos" class="form-label color_azul">Quantidade de ingresso:</label>
            <input type="number" name="qtd_ingressos" id="qtd_ingressos" class="color_azul form-control" placeholder="Quantidade de ingresso">
        </div>
        <div class="buttons">
            <button type="submit" name="buy_ticket" class="btn btn_verde color_preto">Finalizar compra <i class="bi bi-bag-check"></i></button>
            <a href="{% url 'deteils_event' event.id_evento %}" class="btn btn_rosa color_preto">Cancelar venda <i class="bi bi-x-square"></i></a>
        </div>
    </form>
    {% endif %}
</main>

{% endblock %}
{% block footer %}
{% include "partials/footer/footer.html" %}
{% endblock %}