{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/deteils_event.css' %}">
{% endblock %}

{% block content %}
{% block header %}
{% include "partials/header/header.html" %}
{% endblock %}

<main class="container">
    {% if messages %}
    <div class="modal fade" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 color_azul" id="messageModalLabel">Aviso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for message in messages %}
                        <li class="list-group-item {{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_amarelo color_preto" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="d-flex gap-3 mb-3">
        <div class="img_evento">
            {% if event.imagem_evento %}
            <img src="{{ event.imagem_evento.url }}" alt="" style="width: 100%;">
            {% else %}
            <img src="{% static 'img/default.webp' %}" alt="img default" style="width: 100%;">
            {% endif %}
        </div>
        <div class="inf_evento">
            <h1 class="h1 color_azul">{{ event.nome_evento }}</h1>
            <div class="d-flex gap-3">
                <span class="bg_amarelo color_azul">{{ event.data_evento|date:"d/m/Y" }}</span>
                <span class="bg_amarelo color_azul">{{ event.horario_evento|time:"H:i" }}</span>
            </div>
            <div class="descricao">
                <p class="color_azul">{{ event.descricao_evento }}</p>
            </div>
            <div class="buttons">
                <a href="{% url 'deteils_event' event.id_evento %}" class="btn btn_verde color_preto">Venda de ingressos <i class="bi bi-soundwave"></i></a>
                <a href="{% url 'update_event' event.id_evento %}" class="btn btn_azul color_preto">Editar evento <i class="bi bi-soundwave"></i></a>
                <a href="{% url 'lista_setores' event.id_evento %}" class="btn btn_amarelo color_preto">Setores <i class="bi bi-grid-fill"></i></a>
                <a href="{% url 'delete_event' event.id_evento %}" class="btn btn_rosa color_preto">Apagar evento <i class="bi bi-trash"></i></a>
            </div>
        </div>
    </div>

    <h1 class="h1 text-center color_azul mt-4 mb-4">Ingressos gerados</h1>
    <input type="text" id="textInput" class="form-control color_azul mt-4 mb-4" placeholder="Pesquise com nome ou cpf">
    <div class="row">
        {% for ticket in tickets %}
        <div class="col-sm-4 mb-3 mb-sm-0 cards" data-name="{{ ticket.cliente.nome_cliente }}" data-cpf="{{ ticket.cliente.cpf_cliente }}">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title color_azul">Nome do cliente: <span class="color_preto">{{ ticket.cliente.nome_cliente }}</span></h5>
                    <p class="card-text color_azul h6">CPF: <span class="color_preto">{{ ticket.cliente.cpf_cliente }}</span></p>
                    <p class="card-text color_azul h6">Evento: <span class="color_preto">{{ ticket.evento.nome_evento }}</span></p>
                    <p class="card-text color_azul h6">Setor comprado: <span class="color_preto">{{ ticket.setor.nome_setor }}</span></p>
                    <p class="card-text color_azul h6">Data de emissão: <span class="color_preto">{{ ticket.data_emissao_ingresso|date:"d/m/Y H:i" }}</span></p>
                    <p class="card-text color_azul h6">Status: <span class="color_preto">{{ ticket.status_ingresso }}</span></p>
                    <p class="card-text color_azul">Código de validação: <span class="color_preto h5">{{ ticket.id_ingresso }}</span></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'export_ticket' ticket.id_ingresso %}" class="btn btn_verde color_preto">Venda de ingressos <i class="bi bi-file-pdf"></i></a>
                        <a href="#" class="btn btn_rosa color_preto">Apagar <i class="bi bi-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}
{% block footer %}
{% include "partials/footer/footer.html" %}
{% endblock %}
{% block scripts %}
<script src="{% static 'scripts/filter_ticket.js' %}"></script>
{% endblock %}